.advantages__header {
  position: relative;
  margin: 0 auto;

  @media (max-width: @tablet-width) {
    padding: 0 18px;
  }

  @media (min-width: @tablet-width) {
    width: 520px;
    min-height: 103px;
  }
}

.advantages__title {
  margin-bottom: 35px;
}

.advantages__description {
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}
