.advantages__header {
  position: relative;
  margin: 0 auto;
  padding: 32px 18px 16px;

  @media (min-width: @tablet-width) {
    width: 520px;
    padding: 48px 0 56px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 0 44px;
  }
}

.advantages__title {
  margin-bottom: 35px;
}
