.advantages-item {
  position: relative;
  background-color: #eeeeee;

  &--background {
    background-color: #81b3d2;
    color: #ffffff;
  }

  &--illustration {
    @media (min-width: @tablet-width) {
      display: grid;
      padding: 0;
      grid-column: 1 / 4;
      grid-template-columns: repeat(3, 256px);
    }

    .advantages-item__picture {
      @media (min-width: @tablet-width) {
        grid-column: 2 / 4;
      }
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(3, 400px);
    }
  }

  &--illustration-reverse {
    @media (min-width: @tablet-width) {
      display: grid;
      padding: 0;
      grid-column: 1 / 4;
      grid-template-columns: repeat(3, 256px);
    }

    .advantages-item__picture {
      @media (min-width: @tablet-width) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
    }

    .advantages-item__text-wrapper {
      @media (min-width: @tablet-width) {
        grid-column: 3 / 4;
      }
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(3, 400px);
    }
  }

  &--decorate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.advantages-item__photo {
  width: 100%;
  object-fit: cover;
}


.advantages-item__text-wrapper {
  padding: 35px 18px 40px;

  @media (min-width: @tablet-width) {
    padding: 52px 32px 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px 51px;
  }

  &--small {
    position: relative;
    width: auto;
    padding: 23px 26px 27px;

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }
}

.advantages-item__title {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
    padding: 0 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    padding: 0 71px;
  }
}

.advantages-item__wrap {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages-item__wrap-title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.advantages-item__description {
  padding: 0 5px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 5px;
  }
}

.advantages-item__number {
  display: block;
  text-align: center;

  @media (max-width: @tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages-item__service-list {
  padding: 23px 18px 46px;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}
