/*.catalog {
  padding: 0 20px 17px;
}*/

.catalog__header {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: 59px;
  }

  .catalog__header {
    width: 458px;
    min-height: 114px;
    margin: 0 auto;
    margin-bottom: 67px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: 62px;
  }
}
