.catalog {
  padding: 37px 20px 0;

  @media (min-width: @tablet-width) {
    padding: 65px 60px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.catalog__wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.catalog__title {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.catalog__header {
  padding: 0 0 36px;

  @media (min-width: @tablet-width) {
    padding: 0 95px 81px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 371px 88px;
  }
}
