.catalog-item {
  position: relative;
}

.catalog-item__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    padding: 22px 20px 15px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--wide {
    @media (min-width: @tablet-width) {
      width: 648px;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: @desktop-width;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog-item__text-wrapper {
  @media (max-width: @tablet-width) {
    margin-bottom: 11px;
  }
}

.catalog-item__title {
  margin: 0;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.catalog-item__autor {
  margin: 0;

  @media (min-width: @desktop-width) {
    margin: 0;
    color: #ffffff;
  }
}

.catalog-item__photo {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 267px;
    object-fit: cover;

    &--wide {
      @media (min-width: @tablet-width) {
        height: 400px;
        object-fit: cover;
      }
    }
  }
}
