.catalog {
  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.catalog__title {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    font-size: 30px;
  }
}

.catalog__header {
  margin-bottom: 25px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 458px;
    min-height: 114px;
    margin: 0 auto 86px;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    min-height: 124px;
    margin-bottom: 64px;
  }
}
