.catalog-item__title {
  margin: 0;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item__autor {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .catalog-item__photo {
    width: 324px;
    height: 267px;
    margin: 0 auto;
  }

  .catalog-item__photo--wide {
    width: 648px;
    height: 400px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item__photo {
    width: 400px;
    height: 267px;
    margin: 0 auto;
  }

  .catalog-item__photo--wide {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
  }
}
