.catalog-list {
  .clear-list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 400px);
  }
}

.catalog-list__item {
  position: relative;
  padding: 25px 0 27px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
    background-color: #f2f2f2;

    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }
  }

  &:last-child {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  &--wide {
    @media (min-width: @tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / 4;
    }
  }
}
