.control {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  .control__mark {
    position: relative;
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-size: 46px 46px;
    background-position: left top;
  }

  &--checkbox {
    .control__mark {
      border-radius: 4px;
    }
  }

  &:hover {
    .control__mark {
      background-color: #e5e5e5;
    }
  }

  &:active {
    .control__mark {
      background-color: #d5d5d5;
    }

    .control__mark::before {
      opacity: 30%;
    }
  }
}

.control__input {
  &:checked {
    & + .control__mark::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #333333;
    }
  }

  &:disabled {
    & + .control__mark::before,
    & ~ .control {
      opacity: 20%;
    }
  }

  &[type="checkbox"] {
    &:checked + .control__mark::before {
      width: 22px;
      background-image: url("../img/sprite.svg#icon-checkbox-mark");
      background-color: transparent;
    }
  }
}
