.developer-link {
  color: #000000;
  text-decoration: none;
}

.developer-link__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.developer-link__image {
  fill: #000000;
}
