.feedback__title {
  margin-bottom: 24px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 436px;
    margin: 0 auto 20px;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback__description {
  margin-bottom: 28px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 437px;
    margin: 0 auto 112px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}
