.field {
  text-transform: uppercase;

  .field__input {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
  }

  .field__input--telephone,
  .field__input--email {
    color: #000000;
  }

  .field__input--telephone::placeholder,
  .field__input--email::placeholder {
    color: lighten(#000000, 30%);
  }
}
