.field {
  position: relative;
  text-transform: uppercase;

  &--phone::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 225px;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-icon.svg");

    @media (min-width: @tablet-width) {
      left: 240px;
    }

    @media (min-width: @desktop-width) {
      left: 375px;
    }
  }

  &--mail::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 225px;
    width: 18px;
    height: 18px;
    background-image: url("../img/mail-icon.svg");

    @media (min-width: @tablet-width) {
      left: 240px;
    }

    @media (min-width: @desktop-width) {
      left: 375px;
    }
  }
}

.field__input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;

  &--contacts {
    background-image: linear-gradient(to right, #f2f2f2 222px, #e6e6e6 50px);
    color: #000000;
    border-right: none;

    @media (min-width: @tablet-width) {
      background-image: linear-gradient(to right, #f2f2f2 237px, #e6e6e6 50px);
    }

    @media (min-width: @desktop-width) {
      background-image: linear-gradient(to right, #f2f2f2 372px, #e6e6e6 50px);
    }

    &:hover {
      background-image: none;
      background-color: #e5e5e5;
    }

    &:focus {
      padding: 12px 60px 12px 12px;
      background-image: none;
      background-color: #ffffff;
    }
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    padding: 12px;
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &::placeholder {
    color: #aaaaaa;
  }
}
