.form-feedback {
  padding: 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 295px 295px;
    column-gap: 58px;
    row-gap: 42px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 430px 430px;
    column-gap: 100px;
    row-gap: 48px;
  }
}

.form-feedback__personal-data {
  .clear-list();

  position: relative;
  border: none;
  padding: 0 20px 39px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      bottom: -7px;
      right: -28px;
      width: 1px;
      height: calc(100% + 68px);
      background-color: #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      right: -49px;
    }
  }
}

.form-feedback__title {
  margin: 0 auto 20px;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 28px;
  }
}

.form-feedback__input-title {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-feedback__contacts {
  .clear-list();

  position: relative;
  border: none;
  padding: 0 20px 34px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.form-feedback__impression {
  .clear-list();

  position: relative;
  border: none;
  padding: 0 20px 8px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    margin: 23px 0 0;
    padding: 0;
    grid-column: 1 / 3;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 25px 0 0;
  }

  .form-feedback__title {
    @media (min-width: @tablet-width) {
      width: 402px;
    }
  }

  &::before,
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      left: auto;
      right: 0;
    }
  }
}

.form-feedback__impression-wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 53px;
    gap: 0;
    justify-content: space-between;
  }
}

.form-feedback__radio {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-right: 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form-feedback__checkbox {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form-feedback__attractions {
  .clear-list();

  position: relative;
  border: none;
  padding: 0 20px 8px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    margin: 7px 0 0;
    padding: 0;
    grid-column: 1 / 3;
    border: none;
  }

  .form-feedback__title {
    @media (min-width: @tablet-width) {
      width: 402px;
      padding: 0 47px;
    }
  }

  &::before,
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      left: auto;
      right: 0;
    }
  }
}

.form-feedback__attractions-wrapper {
  @media (min-width: @tablet-width) {
    width: 480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 32px;
    row-gap: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    display: flex;
    padding: 34px 45px 37px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form-feedback__review {
  .clear-list();

  position: relative;
  margin-bottom: 52px;
  padding: 0 20px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    grid-column: 1 / 3;
  }

  .form-feedback__title {
    @media (min-width: @tablet-width) {
      width: 402px;
    }
  }

  &::before,
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      left: auto;
      right: 0;
    }
  }
}

.form-feedback__review-text {
  width: 279px;
  padding: 16px;
  min-height: 150px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  resize: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    min-height: 160px;
  }

  @media (min-width: @desktop-width) {
    width: @tablet-width;
    display: block;
    margin: 0 auto;
  }
}

.form-feedback__button {
  padding: 16px;
  width: 280px;
  margin: 0 auto;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    margin-left: 96px;
  }
}

.form-feedback__note {
  padding: 0 20px;
  display: block;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 14px;
    align-self: center;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    margin-right: 96px;
  }
}
