
.form-feedback__personal-data {
  margin-bottom: 64px;
}

.form-feedback__contacts {
  margin-bottom: 59px;
}

.form-feedback__impression,
.form-feedback__attractions {
  margin-bottom: 49px;
}

.form-feedback__review {
  margin-bottom: 56px;
}

.form-feedback__review-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.form-feedback__review-text::placeholder {
  color: lighten(#000000, 30%);
}

.form-feedback__note {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: lighten(#333333, 60%);
}

