.form-feedback__personal-data {
  .clear-list();

  margin-bottom: 64px;
}

.form-feedback__contacts {
  .clear-list();

  margin-bottom: 59px;
}

.form-feedback__impression,
.form-feedback__attractions {
  .clear-list();

  margin-bottom: 49px;
}

.form-feedback__review {
  .clear-list();

  margin-bottom: 56px;
}

.form-feedback__review-text {
  width: 279px;
  min-height: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form-feedback__note {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: lighten(#333333, 60%);
}

@media (min-width: @tablet-width) {
  .form-feedback__wrapper {
    margin-bottom: 64px;
  }

  .form-feedback {
    display: grid;
    grid-template-columns: 280px 298px;
    grid-template-rows: 338px 162px 189px 214px 58px;
    column-gap: 70px;
    row-gap: 48px;
  }

  .form-feedback__personal-data,
  .form-feedback__contacts {
    margin-bottom: 0;
  }

  .form-feedback__impression,
  .form-feedback__attractions,
  .form-feedback__review {
    margin-bottom: 0;
    grid-column: 1 / 3;
  }

  .form-feedback__review-text {
    width: 648px;
    height: 160px;
  }
}

@media (min-width: @desktop-width) {
  .form-feedback {
    display: grid;
    grid-template-columns: 430px 400px;
    grid-template-rows: 338px 134px 189px 214px 58px;
    column-gap: 130px;
    row-gap: 56px;
  }

  .form-feedback__personal-data,
  .form-feedback__contacts {
    margin-bottom: 0;
  }

  .form-feedback__impression,
  .form-feedback__attractions,
  .form-feedback__review {
    margin-bottom: 0;
    grid-column: 1 / 3;
  }

  .form-feedback__review-text {
    width: @tablet-width;
    height: 160px;
  }
}
