.index-hero {
  padding: 90px 19px 85px;
  margin-bottom: 32px;
  background-image: url("../img/hero-background.jpg");
  background-size: 320px 389px;
  background-repeat: no-repeat;
  background-color: #c6c926;
}

@media (min-width: @tablet-width) {
  .index-hero {
    width: @tablet-width;
    height: 518px;
    padding: 77px 0 91px;
    background-size: @tablet-width 518px;
  }

  .index-hero__image {
    width: 461px;
    height: 350px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .index-hero {
    width: @desktop-width;
    padding: 77px 0 91px;
    background-size: @desktop-width 518px;
  }

  .index-hero__image {
    width: 461px;
    height: 350px;
    object-fit: cover;
  }
}
