.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    .likes__icon {
      fill: #81b3d2;
    }
  }

  &:active {
    .likes__icon {
      fill: #f81818;
    }
  }
}

.likes__icon {
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: @desktop-width) {
    fill: #ffffff;
  }
}

.likes__number {
  color: #000000;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}
