.list-item {
  .list-item__number {
    display: block;
    text-align: center;
  }

  background-color: #eeeeee;
}

.list-item--background {
  .title {
    color: #ffffff;
  }

  background-color: #81b3d2;
  color: #ffffff;
}

