.main-navigation {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-navigation__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
