.main-footer {
  padding: 33px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__hashtag {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.main-footer__social-list {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  gap: 6px;
}

.main-footer__developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
