.main-header {
  @media (min-width: @tablet-width) {
    position: relative;
    width: @tablet-width;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-header__logo {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 291px;
  }

  @media (min-width: @desktop-width) {
    left: 480px;
    width: 240px;
  }
}
