@media (min-width: @tablet-width) {
  .main-navigation {
    width: @tablet-width;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    width: @desktop-width;
  }
}
