.main-navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: @mobile-width;

  &--nojs {
    position: static;
    width: @mobile-width;
    padding-top: 96px;
  }

  /*&--closed {
    display: none;
  }*/

  @media (min-width: @tablet-width) {
    position: relative;
    width: @tablet-width;
    display: block;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-navigation__toggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: block;
  width: 62px;
  height: 57px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 16px;
    width: 31px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--nojs {
    display: none;
  }

  &:hover::before,
  &:hover::after {
    background-color: #cde1ed;
  }

  &:active::before,
  &:active::after {
    background-color: #a7cadf;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
