.main-header {
  position: relative;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;
    display: flex;
  }
}

.main-header__toggle {
  top: 0;
  right: 0;
}

.main-header--closed {
  .button-toggle {
    &:hover::before {
      background-color: rgba(129, 179, 210, 0.6);
      box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
    }

    &:active::before {
      background-color: rgba(129, 179, 210, 0.3);
      box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
    }
  }
}

.main-header__logo {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 291px;
  }

  @media (min-width: @desktop-width) {
    left: 480px;
    width: 240px;
  }
}
