.modal {
  width: @mobile-width;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 640px;
    min-height: 347px;
  }

  &--error {
    min-height: 280px;

    .modal__content {
      padding: 45px 42px 28px;

      @media (min-width: @tablet-width) {
        padding: 38px 47px 58px;
      }
    }

    @media (min-width: @tablet-width) {
      width: 400px;
      min-height: 347px;
    }
  }
}

.modal__content {
  padding: 36px 38px 54px;

  @media (min-width: @tablet-width) {
    padding: 50px 98px 49px;
  }
}

.modal__title {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__accept-wrapper {
  width: @mobile-width;
  height: 98px;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 640px;
    height: 146px;
    padding-top: 44px;
  }
}

.modal__button {
  height: 58px;
  margin: 0 auto;

  &--error {
    width: 180px;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      width: 272px;
    }
  }

  &--accept {
    width: 280px;

    @media (min-width: @tablet-width) {
      width: 458px;
    }
  }
}
