.modal--error {
  width: @mobile-width;
  min-height: 280px;
}

.modal--accept {
  width: @mobile-width;
  min-height: 323px;
}

.modal__content {
  min-width: 237px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.modal__accept-wrapper {
  width: @mobile-width;
  height: 98px;
  padding-top: 20px;
  background-color: #f2f2f2;
}

.modal__error-button {
  width: 180px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.modal__accept-button {
  width: 280px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .modal--error {
    width: 400px;
    min-height: 347px;
  }

  .modal--accept {
    width: 640px;
    min-height: 347px;
  }

  .modal__content {
    min-width: 307px;
    margin-bottom: 25px;
  }

  .modal__error-button {
    width: 272px;
  }

  .modal__accept-button {
    width: 458px;
  }

  .modal__accept-wrapper {
    width: 640px;
    height: 146px;
    padding-top: 44px;
  }
}
