.navigation-list {
  .clear-list();
}

.navigation-list__item {
  position: relative;
  height: 55px;
  text-align: center;
  background-color: #81b3d2;


  &:not(:first-child)::before,
  &:not(:last-child)::after {
    @media (max-width: @tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 1px;
      width: @mobile-width;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    }
  }

  &:not(:last-child)::after {
    @media (max-width: @tablet-width) {
      top: auto;
      bottom: 0;
      box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      margin-right: auto;
    }
  }

  @media (min-width: @tablet-width) {
    width: 154px;
    height: 56px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.navigation-list__link {
  display: block;
  padding: 18px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    color: #000000;
  }

  &:hover {
    @media (max-width: @tablet-width) {
      background-color: #669ec0;
    }

    @media (min-width: @tablet-width) {
      color: #81b3d2;
    }
  }

  &:active {
    @media (max-width: @tablet-width) {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width: @tablet-width) {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--current {
    @media (min-width: @tablet-width) {
      color: #766357;
    }
  }
}
