.search-hotel {
  @media (min-width: @tablet-width) {
    padding: 70px 0 55px;
  }
}

.search-hotel__title,
.search-hotel__description {
  width: 262px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 435px;
    margin-bottom: 34px;
  }
}

.search-hotel__button {
  width: 284px;
  margin: 0 auto;
  margin-bottom: 49px;
  display: block;
  text-align: center;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
