.search-hotel {
  padding: 38px 29px 49px;
}

.search-hotel__title {
  margin-bottom: 31px;
}

.search-hotel__description {
  margin-bottom: 32px;
}

.search-hotel__button {
  display: block;
  text-align: center;
  text-decoration: none;
}

