.service-list {
  .clear-list();

  background-color: #ffffff;
  color: #333333;
}

.service-list__item {
  padding-left: 47px;

  @media (max-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 158px 33px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 169px 50px 69px;
  }
}
