.service-item__title {
  text-align: left;
  margin-bottom: 16px;
}

.service-item__description {
  text-align: left;
}

.service-item--house {
  background-image: url("../img/service-house.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.service-item--food {
  background-image: url("../img/service-food.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.service-item--souvenirs {
  background-image: url("../img/service-souvenirs.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
