.service-item__title {
  margin-bottom: 16px;
  padding-top: 8px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    padding-top: 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.service-item__description {
  text-align: left;

  @media (min-width: @tablet-width) {
    text-align: center;
  }
}

.service-item__word-wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.service-item--house,
.service-item--food,
.service-item--souvenirs {
  background-repeat: no-repeat;
  background-size: 40px 40px;

  @media (min-width: @tablet-width) {
    background-size: 78px 76px;
    background-position: left 50% top 60px;
  }

  @media (min-width: @desktop-width) {
    background-size: 80px 72px;
    background-position: left 50% top 69px;
  }
}

.service-item--house {
  background-image: url("../img/sprite.svg#service-house");
}

.service-item--food {
  background-image: url("../img/sprite.svg#service-food");
}

.service-item--souvenirs {
  background-image: url("../img/sprite.svg#service-souvenirs");

  @media (min-width: @desktop-width) {
    background-image: url("../img/sprite.svg#service-souvenirs-desktop");
  }
}
